@model OfficeFlow.Application.Users.Commands.EditUsers.EditUsersCommand

@{
    ViewData["Title"] = "Edit";
}

<h1>@Model.FirstName @Model.LastName</h1>

<hr />
<div class="row">
    <h4>Edycja</h4>
    <hr />
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-3">
                <label asp-for="FirstName" class="control-label">Imię</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="SecondName" class="control-label">Drugie imię</label>
                <input asp-for="SecondName" class="form-control" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="LastName" class="control-label">Nazwisko</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group m-3">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="Password" class="control-label">Nowe hasło</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="ConfirmPassword" class="control-label">Potwierdź hasło</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label class="control-label" asp-for="RoleId">Rola</label>
                <select asp-for="RoleId" asp-items="ViewBag.Roles" class="form-control"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>

            <div class="form-group m-3">
                <label asp-for="PhoneNumber" class="control-label">Numer telefonu</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="DateOfBirth" class="control-label">Data urodzenia</label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>           
            <div class="form-group m-3">
                <label asp-for="Country" class="control-label">Kraj</label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="City" class="control-label">Miasto</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="PostalCode" class="control-label">Kod pocztowy</label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="Street" class="control-label">Ulica</label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="HouseNumber" class="control-label">Numer domu</label>
                <input asp-for="HouseNumber" class="form-control" />
                <span asp-validation-for="HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="ApartmentNumber" class="control-label">Numer mieszkania</label>
                <input asp-for="ApartmentNumber" class="form-control" />
                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
            </div>  
            <div class="form-group m-3">
                <td>
                    <a class="btn btn-outline-warning" asp-action="Index">Wróć do listy</a>
                </td>
                <td>
                    <input type="submit" value="Zapisz" class="btn btn-outline-success" />
                </td>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
