@{
    ViewData["Title"] = "Index";
}

<h1>Nieobecności</h1>

<td>
    <a asp-action="Create" class="btn btn-outline-primary">Dodaj wniosek</a>
</td>
<td>
    <a asp-action="ListToAccept" class="btn btn-outline-primary">Wnioski do akceptacji</a>
</td>