@using OfficeFlow.Application.Users.Models
@model LoginModel

<h1>Logowanie</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form action="/Account/Login" method="post">
            <div class="form-group mb-3">
                <label class="control-label" asp-for="Email">E-mail</label>
                <input class="form-control" type="text" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="Password">Hasło</label>
                <input class="form-control" type="password" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <td>
                    <input class="btn btn-outline-success" type="submit" value="Zaloguj" />
                </td>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
